.title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  color: white;
  font-family: 'lobster', cursive;
  background-color: black;
  padding: 20px;
  margin-bottom: 50px;
}
