h1 {
    color: #E4D9D9;
    font-family: 'lobster', cursive;
    border: solid;
    border-block-color: black;
    padding: 20px;
    background-color:  #57695B;
    margin-right: 30px;
}

.scoreHeader {
    margin-top: -50px;
}

.instructions {
    font-family: 'garamond', cursive;
    font-weight: 900;
    font-size: 30px;
}

.currentScore {
    color: #E4D9D9;
    font-family: 'lobster', cursive;
    border-left: solid;
    border-right: solid;
    border-color: black;
    padding: 16px;
    background-color:  #57695B; 
    margin-left: 50px;
    padding-right: 30px;
    padding-left: 50px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    text-align: center;
    font-size: 18px;
}

