* {
  box-sizing: border-box;
  font-family: sans-serif;
}

/* html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
} */

body {
  background-image: url("https://user-images.githubusercontent.com/23455324/63884032-73227100-c9a3-11e9-91a9-689d3498c9c6.jpg");
  background-size: cover;
  /* background-color: black; */
}
